asgiref==3.8.1
Django==5.2
gevent>=23.9.1
googleapis-common-protos==1.52.0
grpcio==1.66.2
gunicorn==23.0.0
protobuf>=5.0,<6.0
pytz==2021.1
six==1.15.0
opentelemetry-distro[otlp]
sqlparse==0.4.1
thrift==0.13.0
wrapt==1.14.1
